<li>
    <a class="dropdown-item" href="{% url 'invoice_detail' obj.pk %}">
        <i class="fas fa-edit me-2" style="color: var(--primary-color);"></i> Editar
    </a>
</li>
<li>
    <a class="dropdown-item" href="{% url 'invoice_detail' obj.pk %}?readonly=true">
        <i class="fas fa-eye me-2" style="color: var(--primary-color);"></i> Ver
    </a>
</li>
<li>
    <a class="dropdown-item" href="{% url 'invoice_pdf' obj.pk %}" target="_blank">
        <i class="fas fa-file-pdf me-2" style="color: var(--danger-color);"></i> Descargar PDF
    </a>
</li>
<li>
    <a class="dropdown-item" href="{% url 'invoice_detail' obj.pk %}?readonly=true&print=true" target="_blank">
        <i class="fas fa-print me-2" style="color: var(--secondary-color);"></i> Imprimir
    </a>
</li>